* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html{
    font-size: 14px;
  }
  body{
      font-family: Helvetica Neue, sans-serif;
  }
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

.flex-containerB{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #FFE0E0;
}
.flex-containerC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #FFE0E0;
}

.flex-containerD{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #FFE0E0;
}

.flex-containerE{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: #FFE0E0;
}

.leaf{
    height: 80vh;
}

h1{
    color: #FFA4A4;
    font-size: 15rem;
    font-weight: bold;
    padding-right: 9rem;
}

.head2{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-right: 10rem;
}

h2{
    color: #005B99;
    font-weight: normal;
    font-size: 2rem;
}

h3{
    color: #FFA4A4;
    font-weight: bold;
    background-color: #FFE0E0;
    font-size: 2rem;
}

.circle{
    background-color: #FFE0E0;
    height: 0.1rem;
    padding-right: 11rem;
}

.subtitle{
    background-color: #FFE0E0; 
}
.subtitle__content{
    color: #FFA4A4;
    background-color: #FFE0E0;
    font-weight: normal;
    font-size: 1.5rem;
    
}
.stanza1{    
    background-color: #FFE0E0;

}
.stanza1__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza2{
    background-color: #FFE0E0;
}
.stanza2__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza3{
    background-color: #FFE0E0;
}
.stanza3__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza4{
    background-color: #FFE0E0;
}
.stanza4__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza5{
    background-color: #FFE0E0;
}
.stanza5__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza6{
    background-color: #FFE0E0;
}
.stanza6__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}
.stanza7{
    background-color: #FFE0E0;
}
.stanza7__content{
    color: #103269;
    background-color: #FFE0E0;
    font-size: 1rem;
}